@font-face {
  font-family: "Eggcrate Regular";
  src: url("fonts/eggcrate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Franklin Gothic Condensed";
  src: local('Franklin Gothic Condensed'), url("fonts/Franklin Gothic Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --box-unit: 100px;
  --board-gap: 1px;
  --panel-border-radius: 8px;
  --full-width: calc(var(--box-unit) * 6 + calc(var(--board-gap) * 6))
}
body {
  background-color: rgb(47, 46, 46);
}
#board {
  display: grid;
  gap: var(--board-gap);
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: var(--full-width);
  background-color: black;
  margin: 10px auto 0 auto;
}
#center-panel {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  background-color: black;
  background-image: url("images/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: var(--panel-border-radius);
  align-content: center;
  justify-items: center;
  display: grid;
}
#center-panel .alert {
  margin: 2rem;
  padding: 1.5rem;
  background-color: midnightblue;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-radius: var(--panel-border-radius);
}
#center-panel .alert button {
  display: block;
  text-align: center;
  background-color: darkgoldenrod;
  color: white;
  width: 100%;
  border-radius: calc(var(--panel-border-radius) / 2);
  padding: 0.25rem;
  margin-top: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.panel {
  width: var(--box-unit);
  height: var(--box-unit);
  background-color: none;
  border-radius: var(--panel-border-radius);
}
.panel-active {
  background-image: radial-gradient(yellow 42%, #9fb71a 42%);
  background-position: 0 0;
  background-size: 10px 10px;
}
.inner-panel {
  font-family: "Franklin Gothic Condensed";
  background-color: blue;
  margin: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: calc(var(--panel-border-radius) / 2);
  align-content: center;
  justify-items: center;
  text-align: center;
  display: grid;
  color: white;
  text-shadow: 1px 1px 1px black;
  filter: brightness(100%);
  transition: filter 0.15s;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: inset 0 0 20px #000000;
}
.panel-line-two {
  font-size: 0.85rem;
  text-transform: uppercase;
}
.panel-cash, .panel-cashandspin, .panel-bigbucks {
  background-image: url("images/coinstacks.png");
  background-size: calc(var(--box-unit) - 16px) calc(var(--box-unit) - 16px);
}
.panel-whammy {
  background-size: calc(var(--box-unit) - 16px) calc(var(--box-unit) - 16px);
}
.panel-whammy-leaning {
  background-image: url("images/whammy-leaning.png");
}
.panel-whammy-running {
  background-image: url("images/whammy-running.png");
}
.panel-whammy-hammer {
  background-image: url("images/whammy-hammer.png");
}
.panel-whammy-jumping {
  background-image: url("images/whammy-jumping.png");
}
.panel-whammy-standing {
  background-image: url("images/whammy-standing.png");
}
.panel-whammy-raisingarms {
  background-image: url("images/whammy-raisingarms.png");
}
.panel-whammy-superhero {
  background-image: url("images/whammy-superhero.png");
}
.panel-whammy-taunting {
  background-image: url("images/whammy-taunting.png");
}
.panel-whammy-flex {
  background-image: url("images/whammy-flex.png");
}
.panel-moveonespace-corner {
  background-image: url("images/moveonespace-corner.png");
  background-size: calc(var(--box-unit) - 16px) calc(var(--box-unit) - 16px);
}
.panel-moveonespace-vertical {
  background-image: url("images/moveonespace-vertical.png");
  background-size: calc(var(--box-unit) - 16px) calc(var(--box-unit) - 16px);
}
.panel-moveonespace-horizontal {
  background-image: url("images/moveonespace-horizontal.png");
  background-size: calc(var(--box-unit) - 16px) calc(var(--box-unit) - 16px);
}
.panel-advancetwospaces {
  background-image: url("images/advancetwospaces.png");
  background-size: calc(var(--box-unit) - 16px) calc(var(--box-unit) - 16px);
}
.panel-backtwospaces {
  background-image: url("images/backtwospaces.png");
  background-size: calc(var(--box-unit) - 16px) calc(var(--box-unit) - 16px);
}
.panel-pickacorner {
  background-image: url("images/pickacorner.png");
  background-size: calc(var(--box-unit) - 16px) calc(var(--box-unit) - 16px);
}
.panel-prize {
  font-size: 0.95rem !important;
}
.panel-pickacorner {
  font-size: 1.2rem !important;
}
#players {
  width: var(--full-width);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  background-color: blanchedalmond;
  margin: 0 auto;
}
.player {
  margin: 0.1rem;
}
.player-score {
  font-family: "Eggcrate Regular";
  font-size: 1.5rem;
  text-align: right;
  background-color: green;
  color: white;
  padding: 0.25rem 0.5rem;
  border: 3px solid blanchedalmond;
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
}
.player-buzzed {
  border-color: red;
}
.player-spin-area {
  font-family: "Eggcrate Regular";
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  font-size: 1.5rem;
  color: white;
  text-align: right;
  margin: 0 0.2rem;
}
.player-spin-area > div {
  padding: 0.25rem 0.5rem;
}
.player-earned-spins {
  background-color: darkgoldenrod;
}
.player-passed-spins {
  background-color: red;
}
.player-whammy-area {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  height: 45px;
}
.player-whammy {
  width: 42px;
  height: 44px;
  overflow: hidden;
}
.player-whammy-icon {
  background-color: darkgoldenrod;
  background-image: url("images/whammy-jumping.png");
  background-size: 42px 42px;
  border: 1px solid black;
  height: 42px;
  top: 0;
  position: relative;
  transition: all .2s ease-out;
}
.player-whammy-icon-hidden {
  top: 100%;
}
.hidden {}
.slide-enter {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 100ms;
}

.slide-enter-start {
  filter: brightness(100%);
}
.slide-enter-end {
  filter: brightness(40%);
}

.slide-leave {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 150ms;
}

.slide-leave-start {
  filter: brightness(40%);
}

.slide-leave-end {
  filter: brightness(100%);
}

#setup {
  max-width: 540px;
}

#setup #player-options {
  display: block;
}

#setup .select-spins {
  display: flex;
  justify-content: space-between;
}

#setup .select-spin {
}

#setup .select-spin input {
  width: 30px;
}

#setup fieldset {
  width: 500px;
  margin-bottom: 8px;
}

#setup fieldset div {
  margin-top: 6px;
}

#setup fieldset label {
  display: inline-block;
}

#setup .start {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

#setup .select-score {
  width: 90%;
}
