name: Checks

on:
  # Trigger on any push to the main branch (ie, PR merge)
  push:
    branches:
      - main
  # Trigger on any push to a PR based off of main
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'

      - name: NPM install
        run: npm install

      - name: Run eslint
        run: npm run lint
